.CategoryDetailsPage {
  .balance {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .TransactionList {
    max-width: none;
  }

  .TransactionList .starting-balance {
    border-top: 2px solid;
  }
}
