.CategoryDetailsPage {
  h3 {
    font-size: var(--mantine-font-size-sm);
    margin-bottom: var(--mantine-spacing-xs);
  }

  .balance {
    font-size: var(--mantine-font-size-xl);
    font-weight: bold;

    &.positive {
      color: var(--mantine-color-green-text);
    }
    &.negative {
      color: var(--mantine-color-red-text);
    }
  }

  .spent {
    font-weight: normal;
  }
}
