.CategoryDetailsPage {
  h3 {
    font-size: var(--mantine-font-size-sm);
    margin-bottom: var(--mantine-spacing-xs);
  }

  .EditableName {
    font-weight: bold;
  }

  .balance {
    font-size: var(--mantine-font-size-xl);
    font-weight: bold;
  }

  .TransactionTable tr.starting-balance {
    border-top: 2px solid;
  }
}
