.CategoryDetailsPage {
  .EditableName {
    font-size: var(--mantine-font-size-xl);
    font-weight: bold;
  }

  .balance {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .TransactionList .starting-balance {
    border-top: 2px solid;
  }
}
