.EditableAmount {
  font-weight: bold;

  form {
    display: inline;
  }

  .text {
    /* Reset button user-agent styles */
    border: none;
    background: none;
    padding: 0;

    border-bottom: 2px solid transparent;
  }

  .input {
    border: none;
    padding: 0;
    border-bottom: 2px solid transparent;

    field-sizing: content;
    text-align: right;

    &:focus-visible {
      outline: none;
      border-bottom-color: var(--mantine-color-blue-6);
    }

    &:invalid {
      color: var(--mantine-color-red-5);
    }
  }
}
