.EditableName {
  .text {
    all: unset;
    cursor: pointer;

    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
  }

  .input {
    border: none;
    padding: 0;
    border-bottom: 2px solid transparent;

    min-width: 4rem;
    field-sizing: content;

    &:focus-visible {
      outline: none;
      border-bottom-color: var(--mantine-color-blue-6);
    }

    &:invalid {
      color: var(--mantine-color-red-5);
    }
  }
}
