.EditableAmount {
  .text {
    display: flex;
    align-items: center;
    /* Matches --input-height-sm */
    height: calc(2.25em * var(--mantine-scale));
    cursor: pointer;
    font-weight: bold;
  }

  .input {
    width: 7rem;
    font-size: var(--mantine-font-size-md);
    font-weight: bold;
    text-align: right;
  }
}
