.NavDrawer {
  .mantine-CloseButton-root:hover {
    background-color: rgba(255, 255, 255, 0.18);
  }

  .mantine-NavLink-root {
    --nl-color: white;
    --nl-hover: rgba(255, 255, 255, 0.32);
    border: 1px solid transparent;
    border-radius: var(--mantine-radius-sm);

    &:hover {
      background-color: rgba(255, 255, 255, 0.18);
    }

    &[data-active],
    &[aria-current="page"] {
      --nl-bg: rgba(255, 255, 255, 0.25);
      border-color: rgba(255, 255, 255, 0.6);
    }
  }
}
